<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <title>Request Header Parser microservice</title>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
        
    </head>
    <body>
        <div class = "container">
            <div class = "jumbotron">
                <h1>Request header parser microservice</h1>
            </div>
            
            <blockquote>
                <h3>User stories :</h3></br>
                <p><em>I can get the IP address, language and operating system for my browser.</em></p>
            </blockquote></br></br>

            <p>Head over to the base URL, followed by <em>/api/whoami/</em>, to see your IP address, language and operating system details, or <a href = "https://request-header-parser-56.herokuapp.com/api/whoami/">click here</a></p>
        </div>
        
    </body>
</html>
